*{
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--frist-color);
}
a:visited{
    color: black;
}
/* start compund */
.t-header{
    padding: 20px;
}
.t-header h4{
    font-size: 20px;
    margin: 15px 0;
} 
.t-header p{
    color: #999;
    margin: 0 0 10px;
}
/* end compund */
:root{
    --frist-color:#0075ff;
}
/* start media */
/* small media */
@media (min-width:768px){
    .body{
        width: 750px;
    }
}
/* medium media */

@media (min-width:992px){
    .body{
        width: 970px;
    }
}
/* large media */

@media (min-width:1200px){
    .body{
        width: 1170px;
    }
}
/* end media */

.body{
    display: grid;
    grid-template-areas: "aside con con con con ";
    grid-template-columns: auto 1fr;
    width: 100%;
    height: 100vh;
    margin: 0;
    gap: 0;
}

/* start aside */
aside{
    grid-area: aside;
    z-index: 99;
    background-color: white;
}

aside .logo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin: 10px auto 30px;
}
@media (max-width:767px){
    aside .logo{
        text-align: center;
        margin: 10px auto;
        font-size: 15px;
    }
}
aside .logo::before{
    content: "";
    width: calc(100% + 30px);
    position: absolute;
    height: 1px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
aside .logo::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid white;
}
@media (max-width:767px) {
    aside .logo::after,
    aside .logo::before{
        display: none;
    }
}
aside .as-content{
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 10px;
    transition: .5s;
    border-radius:6px;
    margin: 10px;
}
@media (max-width:767px) {
    aside .as-content{
        padding: 10px;
    }
}
aside .as-content.active{
    background-color: #ddd;
}
aside .as-content:hover{
    background-color: #DDD;
}

aside .as-content i{
    margin-right: 10px;
    font-size: 12px;
}
@media (max-width:767px) {
    aside .as-content i{
        margin: 0;
    }
}

aside .as-content p{
    margin: 0;
}
@media (max-width:767px) {
    aside .as-content p{
        display: none;
    }
}
/* end aside */
/* start content */
.content{
    grid-area: con;
    background-color: #f1f5f9;
    padding: 0px 15px 15px 15px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 0 -15px;
    position: relative;
}
.content form{
    position: relative;
    width: fit-content;
    height: fit-content;
}
form [type="search"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #999;
    border-color: 1;
    outline: none;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 15px;
}

form i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}
.not{
    display: flex;
    align-items: center;

}
.not i{
    padding-right:20px ;
    position: relative;
}
.not i::after{
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    top: -7px;
}
.not .avatar{
    width: 40px;
    height: 40px;
    background-color: #dddd;
    border-radius: 50%;
}
.not .avatar img{
    max-width: 100%;
}
.not i:hover + .list-not{
    opacity: 1;
    top: 100%;
    z-index: 99;
}
.list-not{
    position: absolute;
    width: 200px;
    height: 370px;
    background-color: white;
    padding: 15px;
    border: 1px solid var(--frist-color);
    top: calc(100% + 15px);
    right: 20px;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    transition: .5s;
}
.list-not:hover{
    display: block;
}
.list-not span{
    font-size: 12px;
    display: block;
    padding: 10px 10px 10px 15px;
    color: black;
    background-color: #ececec;
    margin-bottom:  10px;
    position: relative;
    border: 1px solid var(--frist-color);
}
.list-not span a{
    font-size: 7px;
    background-color: #0075ff;
    color: white;
    padding: 2px;
    display: flex;
    width: fit-content;
    margin-left: auto;
    border-radius: 2px;
    margin-top: 2px;
}

/* end header */
/* start main title */
.main-title{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px 10px;
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
}
.main-title::before{
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100%);
    background-image: linear-gradient(
        to right,black 0%,black 30%,white 30%,white 100%
    );
    bottom: 0;
}
/* end main title */


/* start box one */

.box-1 .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.box-1 .text > div span:first-of-type{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.box-1 > div span:last-child{
    font-size: 12px;
    color: #999;
}

.Enable[type="checkbox"]{
    width: 100px;
    height: 30px;
    background-color: #DDD;
    border-radius: 50px;
    position: relative;
    appearance: none;
    display: flex;
    margin-left: auto;
    transition: .5s;
    outline: none;
}
.Enable[type="checkbox"]::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00d";
    left: 3px;
    background-color: rgb(231, 79, 41);
    color: white;
    top: 50%;
    font-weight: bold;
    position: absolute;
    font-size: 15px;
    top: 50%;
    transform: translatey(-50%) ;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.Enable:checked::before{
    left: 70px;
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    background-color: white;
    color: var(--frist-color);
}
@media (max-width:767px){
    .Enable:checked::before{
        left: 60px;
    }
}
.Enable[type="checkbox"]:checked{
    background-color: var(--frist-color);
    border: 1px solid #ececec;
}
.box-1 textarea{
    resize: none;
    margin: 15px;
    width: calc(100% - 30px);
    height: 150px;
    padding: 10px;
    border-color: #ddd;
    border-radius: 6px;
    font-size: 12px;
    outline: none;
}

/* end box one */
/* start box two */
.box-2 form{
    padding: 0 15px;
    width: calc(100% - 15px);
    height: 100%;
}
.box-2 form label{
    display: block;
    font-size: 13px;
    color: #999;
    padding: 0 0 5px 0;
}
.box-2 form input{
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding-left: 5px;
}
.box-2 form [type="email"]{
    width: calc(100% - 60px );
}
.box-2 form a{
    color:var(--frist-color);
    margin-left: 5px;
    display: inline-block;
}
/* end box two */

/* start box three */
.box-3 .Security{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.box-3 .Security:last-child{
    border: none;
}

.box-3 .Security .text span:first-child{
    display: block;
    font-size: 18px;
}
.box-3 .Security .text span:last-child{
    color: #999;
    font-size: 12px;
}
.box-3 .Security .change{
    background-color: var(--frist-color);
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}
.box-3 .Security .device{
    background-color: #ddd;
    padding: 5px;
    color: black;
    border-radius:3px ;
}
/* end box three */


/* start box Four */
.box-4 .social{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.box-4 .social i {
    color: #999;
    width: 50px;
    height: 40px;
    border: 1px solid #ececec;
    text-align: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f6f6f6;
}
.box-4 .social form{
    width: 100%;
}
.box-4 .social form input{
    width: 100%;
    height: 40px;
    border: 1px solid #ececec;
    color: #999;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-color: #f6f6f6;
    outline: none;
    padding-left: 10px;
}
/* end box Four */

/* start box five */
.box-5 form{
    padding: 0 15px;
}
.box-5 form > div{
    padding: 0 0 15px;
    display: flex;
    align-items: center;
}
.box-5 form > div label{
    font-size: 17px;
    margin-left: 10px;
}
/* end box five */
/* start box six */
.box-6 form{
    padding: 0 15px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ececec;
    width: 100%;
}
.box-6 form > div{
    padding: 0 0 10px 0;
}
.box-6 form label{
    font-size: 18px;
    margin-left: 10px;
}
.box-6 .type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}

.box-6 .type > div{
    text-align: center;
    width: 120px;
    height: 65px;
    border: 2px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 10px 5px;
    transition: .5s;
}
.box-6 .type > div:hover{
    color: var(--frist-color);
    border-color: var(--frist-color);
}
.box-6 .type > div i{
    display: block;
    width: 100%;
}
.box-6 .type > div.zero{
    color: var(--frist-color);
    border-color: var(--frist-color);
}
/* end box six */